body {
	background-image: url(img.jpg);
	font-family: tahoma;
	background-size: cover;
}
#nav {
	margin-top: 2.5rem;
}
#nav ul li {
	display: inline-block;
	padding: 1em;
	font-size: 1.15em;
}

#nav ul li:last-child {
	padding-right: 0;
}
#nav ul li ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	background: white;
	padding: 0.5em;
	margin-top: 0.75em;
	margin-left: 0em;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
	border-radius: 0.25em;
}
#nav ul li ul:before {
	content: '';
	position: absolute;
	top: -8px;
	left: 5%;
	width: 0;
	height: 0;
	border-style: bold;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent white transparent;
}
#nav ul li ul li {
	display: block;
	margin: 0;
	padding: 0;
}
#nav ul li ul li a {
	font-weight: normal;
	font-size: 0.70em;
	color: #5f7385;
	padding: 0.5em;
	display: block;
	border-radius: 0.25em;
}
#nav ul li ul li a:hover {
	border-top: none;
	color: #2a333b;
	background: #eaeaea;
}
#nav ul li ul li a:active {
	position: relative;
	top: 1px;
}
#nav ul li a {
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	text-decoration: none;
	padding-top: 1em;
}
#nav ul li a:hover {
	border-top: 0.25em solid #ff3a2e;
	color: #d9d9d9;
}
